body{
  

.menu{
width: 234px;
height: 292px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

.menu-texto{
display: flex;
width: 762px;
height: 101px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-size: 30px;
font-family: Inter;
    }
